# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Data and Models (Do NOT upload these to GitHub)
*.bin
*.pth
*.pt
data/
models/
Hastika_Data/

# OS
.DS_Store
Thumbs.db
